<div style="margin-left:250px;">
<% if logged_in? %>
<% check = 0, links='1', id=nil %>
<% @profiles.each do |profile| %>
<% if current_user.id == profile.user_id %>
  <% check = 1%>
  <%links = profile.image.url %>
  <%id =profile%>
<% end %>
<% end %>
<% if check==1 %>
<h4>profile picture</h4>
<%= image_tag links, class:"brand_logo" unless links.blank? %>
<strong class="user">
<%= link_to 'change Profile Picture', edit_profile_path(id), class:"btn btn-warning" %>
<%= link_to 'remove Profile Picture', id, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-info" %>
<%= link_to 'Posts', posts_path, class:"btn btn" %>
<% else %>
<%= image_tag "avatar.png", class:"brand_logo" %>
<%= link_to 'upload a profile picture', new_profile_path, class:"btn btn-secondary btn-lg active" %>
<%= link_to 'Posts', posts_path, class:"btn btn" %>
<% end %>
<% end %>
</strong>
</div>
